body {
    font-family: roboto, sans-serif;
    color:#212121;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ----------HEADER---------- */

.header {
    background-color: #FFFFFF;;
}


.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.logo-link {
    color: #2196F3;
}

.header-list :hover, .header-list :focus {
    color: #2196F3;
}

.header-list .current {
    color: #2196F3;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-connect :hover, .header-connect :focus {
    color: #2196F3;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

/* ----------HEADER---------- */

/* ----------HERO------------ */

.section-hero {
    background: #2F303A
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    border: 0px;
}

/* ----------HERO------------ */

/* ----------ПЕРЕВАГИ------------ */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advances-post-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.advances-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ----------ПЕРЕВАГИ------------ */

/* ----------ЩО РОБИМО------------ */

.section-work {
    background: #F5F5F5;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ----------ЩО РОБИМО------------ */

/* ----------КОМАНДА-------------- */

.section-team {
    background: #F5F4FA

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-post-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ----------КОМАНДА-------------- */

/* ----------FOOTER-------------- */

.footer {
    background: #2F303A;
}

.footer-list :hover,
.footer-list :focus {
    color: #2196F3
}

.footer-list {
    font-style: normal;
}

.footer-logo {
font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-map {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ----------FOOTER-------------- */

/* ----------ФІЛЬТРИ-------------- */

.button-item :hover,
.button-item :focus {
    color: #FFFFFF;
    background: #2196F3;
}

.button-link {
    cursor: pointer;
    border: 0px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA
}



/* ----------ФІЛЬТРИ-------------- */

/* ----------ПРОЄКТИ-------------- */

.project-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.project-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}